<h1>First Name</h1>
<%= @content[:first_name] %>
<h1>Last Name</h1>
<%= @content[:last_name] %>
<h1>Email</h1>
<%= @content[:email] %>
<h1>Phone</h1>
<%= @content[:phone_number] %>
<h1>Description</h1>
<%= @content[:description] %>